
body,html{
    height: 100%;
    margin: 0;
    padding-left: 0;
}

.footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18px;
    line-height: 50px;
}
.fondo{
    background-image: url("../img/naeem-shahrizadegan-QkD3BBW2k0I-unsplash.jpg");
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
.login{
    overflow: hidden;
    background-image: url("../img/tomasz-sroka-A4AJVLFu-Ug-unsplash.jpg");
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.registro{
    overflow: hidden;
    background-image: url("../img/an-tran-xa-X3YICs3s-unsplash.jpg");
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ref{
    position: absolute;
    bottom: 20%;
    right: 10%;
    background-color:black;
    color:white;
    text-decoration:none;
    padding:4px 6px;
    font-size:12px;
    font-weight:bold;
    line-height:1.2;
    display:inline-block;
    border-radius:3px;
}
.ref:hover{
    color: #00d1a0;
}

.seccion{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}
article{
    margin-top: 20px;
    height: 17rem;
}
.imagen{
    width: 175px;
    height: 175px;
}
.footer-panel{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
}

.menu-lateral{
    position: fixed;
    top: 10%;
    left: 0;
    width: 10%;
    min-width: 15%;
    height: 100%;
}
.redondo{
    border-radius: 50px;
}
.derecha{
    outline: none;
}
.archivo{
    height: 10%;
}
.menu-responsive{
    display: none;
}
.icono{
    text-decoration: none;
    color:black;
    width: 1.5em;
}
.icono:hover{
    color: #222222;
    text-decoration: none;
}
.boton{
    border: none;
}
.oculto{
    display: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

#papelera_archivos:hover{
    cursor: pointer;
}

@media (max-width: 576px) {
    body{
        overflow-x: hidden;
    }

    .navbar-nav{
        width: 80%;
    }
    .img-responsive{
        width: 30%;
        height: 30%;
        margin-bottom: 0;
    }
    article{
        height: 10%;
    }
    .btn-responsive{
        margin-right: 4%;
    }
    .logo{
        display: none;
    }

    .footer-panel{
        display: none;
    }
}
@media (max-width: 767px) {
    .menu-responsive{
        display: block;
    }
}

@media (max-width: 1624px) {
    .menu-lateral{
        display: none;
    }
}