@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body,html{
    height: 100%;
    margin: 0;
    padding-left: 0;
    font-family: 'Roboto', sans-serif;
}

.footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18px;
    line-height: 50px;
}
.fondo{
    background-image: url("../img/naeem-shahrizadegan-QkD3BBW2k0I-unsplash.jpg");
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
.login{
    overflow: hidden;
    background-image: url("../img/tomasz-sroka-A4AJVLFu-Ug-unsplash.jpg");
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.registro{
    overflow: hidden;
    background-image: url("../img/an-tran-xa-X3YICs3s-unsplash.jpg");
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ref{
    position: absolute;
    bottom: 5%;
    right: 10%;
    background-color:black;
    color:white;
    text-decoration:none;
    padding:4px 6px;
    font-size:12px;
    font-weight:bold;
    line-height:1.2;
    display:inline-block;
    border-radius:3px;
}
.ref:hover{
    color: #00d1a0;
}

.seccion{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}
article{
    margin-top: 20px;
    height: 17rem;
}
.imagen{
    width: 175px;
    height: 175px;
}
.footer-panel{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
}

.main-panel{
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu-lateral{
    position: fixed;
    top: 10%;
    left: 0;
    width: 12%;
    height: 100%;
    min-width: 200px;
    padding-left: 20px;
    margin-right: 10px;
}
.menu-nuevo{
    position: fixed;
    top: 10%;
    left: 0;
    width: 12%;
    height: 100%;
    min-width: 200px;
    padding-left: 20px;
    margin-right: 10px;
}

.panel{
    position: absolute;
    top: 0;
    left: 15%;
    overflow: auto;
}

.progress{
    position: fixed;
    height: 3px;
    width: 10%;
    min-width: 150px;
}

.progress-bar{
    background-color: #00d1a0;
}

.redondo{
    border-radius: 50px;
}
.derecha{
    outline: none;
}
.archivo{
    height: 10%;
}
.menu-responsive{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
}
.icono{
    text-decoration: none;
    color:black;
    width: 1.5em;
}
.icono:hover{
    color: #222222;
    text-decoration: none;
}
.boton{
    border: none;
}
.oculto{
    display: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

#papelera_archivos:hover{
    cursor: pointer;
}

.active-gray-1 input.form-control[type=text]:focus:not([readonly]) {
    box-shadow: 0 0 0 0 gray;
    border-bottom: 1px solid white;
}

.active-gray-1 input[type=text]:focus:not([readonly]) {
    box-shadow: 0 0 0 0 gray;
    border-bottom: 1px solid white;
}

input[type="text"]{
    box-shadow: none;
    border-radius: 0;
    border:none;
    border-bottom: 1px solid gray;
}
input[type="text"]::placeholder { color: whitesmoke; }

.searchbar{
    width: 30%;
    margin-left: 20px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 320px;
    width: 75%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    opacity: 0.5;
    color: white;
    background-image: url("../img/archivos.png");
    background-position:center center;
    background-repeat: no-repeat;
}
.expand{
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 10px;
}
.expand:hover{
    cursor: pointer;
}
.card{
    width: 90%;
}
.card-body{
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}
.navigation{
    margin-top: 20px;
}
.card-text{
    margin: 0;
    padding-left: 12px;
}

.card-subtitle{
    padding-left: 12px;
}

.card-img{
    padding-left: 12px;
}

.btn-titulo{
    border: none;
    box-shadow: none;
}
.btn-titulo:focus{
    outline: none;
    box-shadow: none;
    border: none;
}
@media (max-width: 576px) {

    .navbar-nav{
        width: 80%;
    }
    .img-responsive{
        width: 30%;
        height: 30%;
        margin-bottom: 0;
    }
    article{
        height: 10%;
    }
    .btn-responsive{
        margin-right: 4%;
    }
    .logo{
        display: none;
    }

    .footer-panel{
        display: none;
    }
    .searchbar{
        width:75%;
    }
}
.animate{
    transform: translate(100%);
    transition: 0.5s all;
    z-index: 100;
    background-color: #343a40;
    position: fixed;
    width: 15%;
}
.usuario{
    display: none;
}
@media (max-width: 768px) {
    .menu-responsive{
        display: block;
    }
    .menu-nuevo{
        display: none;
    }
    .searchbar{
        width:50%;
    }
    .logo{
        display: none;
    }
    .usuario{
        padding-right: 10px;
    }
}

@media (max-width: 1200px) {
    .btn-titulo {
        font-size: small;
    }
}

@media (max-width: 1405px) {
    .menu-lateral{
        left: -50%;
        transition: 0.5s all;
        background-color: #343a40;
        z-index: 100;
        width: 15%;
    }
    .panel{
        top: 0;
        left: 5%;
    }
    .usuario{
        display: block;
    }
}