{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block body %}
<body class="bg-dark">
<main class="container-fluid">
    {# Menú de navegación #}
    <header class="row">
        <div class="container mt-5">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <a class="navbarbrand"><img src="img/logo.png" class="logo" alt="logo"></a>
                <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menu">
                    <nav class="navbar-nav">
                        <a href="/panel" class="nav-link">Panel
                            <svg class="bi bi-files" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3 2h8a2 2 0 012 2v10a2 2 0 01-2 2H3a2 2 0 01-2-2V4a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V4a1 1 0 00-1-1H3z" clip-rule="evenodd"/>
                                <path d="M5 0h8a2 2 0 012 2v10a2 2 0 01-2 2v-1a1 1 0 001-1V2a1 1 0 00-1-1H5a1 1 0 00-1 1H3a2 2 0 012-2z"/>
                            </svg>
                        </a>
                    </nav>
                    {# Usuario #}
                    <form class="form-inline ml-auto">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary bg-transparent dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg class="bi bi-person" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM8 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z" clip-rule="evenodd"/>
                                </svg>
                                {{app.user.username}}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="/perfil" class="dropdown-item">Cuenta</a>
                                <a href="{{ logout_path() }}" class="dropdown-item">Cerrar sesión</a>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </header>
    <div class="container text-white mt-5">
        <h1 class="text-center">Cuenta</h1>

    </div>
</main>
</body>
{% endblock %}
